<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Worlds best website</title>
    <style>
      h1 {
        font-size: 96px;
      }
    </style>
  </head>
  <body>
    <h1>Hello</h1>
    <p>The result is: <%= result %> </p>
  </body>
</html>
